* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.navbar-link {
  display: flex;
  align-items: center;
}
.navbar-link a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 15px;
  color: black;
}
.thumb-section {
  background-color: #eef2ea;
  padding: 20px 40px;
}
.thumb-container {
  display: flex;
  border-radius: 10px;
  border: 0.5px solid #f0f0f0;
}
.content-wrapper {
  flex-basis: 50%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: white;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}
.btn-link {
  background-color: #f01c4c;
  width: 90px;
  border-radius: 20px;
  text-decoration: none;
  padding: 1px 7px;
  text-transform: capitalize;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}
.content-wrapper h1 {
  margin-bottom: 20px;
}
.content-wrapper span {
  margin-bottom: 20px;
}
.img-content-wapper {
  flex-basis: 50%;
}
.img-content-wapper img {
  width: 100%;
  height: 100%;
  border-end-end-radius: 12px;
  border-top-right-radius: 12px;
}
