* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.navbar-link {
  display: flex;
  align-items: center;
}
.navbar-link a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 15px;
  color: black;
}
.thumb-section {
  background-color: #eef2ea;
  padding: 20px 40px;
}
.thumb-container {
  display: flex;
  border-radius: 10px;
  border: 0.5px solid #f0f0f0;
}
.content-wrapper {
  flex-basis: 50%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: white;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}
.btn-link {
  background-color: #f01c4c;
  width: 90px;
  border-radius: 20px;
  text-decoration: none;
  padding: 1px 7px;
  text-transform: capitalize;
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}
.content-wrapper h1 {
  margin-bottom: 20px;
}
.content-wrapper span {
  margin-bottom: 20px;
}
.img-content-wapper {
  flex-basis: 50%;
}
.img-content-wapper img {
  width: 100%;
  height: 100%;
  border-end-end-radius: 12px;
  border-top-right-radius: 12px;
}
.recent-post-container {
  display: flex;
  padding: 20px 40px;
}
.post-container {
  flex-basis: 70%;
  background-color: rgba(255, 255, 255, 0.7);
}
.post-container h1 {
  font-size: 24px;
  font-weight: 600;
  color: red;
}
.post-content {
  display: flex;
  margin-bottom: 20px;
}

.post-content img {
  width: 380px;
  height: 250px;
  border-radius: 7px;
}
.post-desc h3 {
  text-transform: capitalize;
  font-size: 23px;
}
.category-link {
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 0.3px 12px;
  font-size: 14px;

  margin-bottom: 2px;
}
.post-desc p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 10px 4px;
}
.post-desc {
  margin-left: 20px;
  flex-basis: 60%;
}
.readmore {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.readmore span {
  font-size: 12px;
  font-weight: 400;
}
.related-post {
  flex-basis: 35%;
}
.related-post h2 {
  text-transform: capitalize;
  margin: 10px 5px;
  border-bottom: 1px solid lightgrey;
  font-size: 21px;
  font-weight: 500px;
}
.social-container {
  display: flex;
  flex-wrap: wrap;
}
.social-link {
  background-color: dodgerblue;
  margin: 8px;
  padding: 10px 18px;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.related-desc {
  background-color: white;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 20px;
}
.related-desc ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.related-desc ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: black;
  padding: 2px 8px;
}
.related-content {
  display: flex;
  margin-bottom: 20px;
}
.related-link {
  display: block;
  flex-basis: 50%;
  margin-left: 10px;
}
.related-link h3 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}
.related-link a {
  text-decoration: none;
  color: black;
  height: 80px;
}
.video-part {
  background-color: #5b6363;
  height: 90vh;
}
.video-container {
  display: flex;
}
.main-video {
  flex-basis: 60%;
  padding-top: 20px;
  padding-left: 40px;
}
.main-video video {
  width: 95%;
  height: 95%;
  border-radius: 7px;
}
.related-video {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
}
.video-desc {
  width: 250px;
  height: 250px;
  margin: 2px 4px;
  padding: 2px 8px;
}
.video-desc a {
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
}
.video-desc video {
  width: 240px;
  height: 200px;
  border-radius: 7px;
}
.all-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.all-video h3 {
  text-transform: capitalize;
  font-size: 20px;
  color: white;
}
.all-video a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
.popular {
  display: flex;
  padding: 20px 40px;
}
.main-popular {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}
.main-desc {
  margin-top: 20px;
}
.main-desc img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.main-desc a {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  margin: 10px 3px;
}
.main-desc p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.popular-category {
  flex-basis: 35%;
  padding: 7px 12px;
}
.cat-links ul {
  list-style: none;
  display: flex;
}
.cat-links ul li a {
  color: black;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  padding: 2px 17px;
}
.popular-cat-desc {
  display: flex;
  flex-wrap: wrap;
}
.popular-cat-desc p {
  font-size: 14px;
  margin-left: 12px;
}
.popular-categ {
  display: flex;
  flex-direction: column;
}
.pupular-categ img {
  width: 150px;
  height: 100px;
  border-radius: 7px;
  margin: 12px;
}
.pupular-categ a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  margin: 12px;
}
.popular-categ span {
  font-size: 11px;
  margin-left: 12px;
}
.related-posts {
  flex-basis: 30%;
  /* border-radius: 15rem 15rem 0 0; */
}
.advert-img {
  height: 400px;
  width: 350px;
}
.footer {
  background-color: #182c2c;
  height: 80vh;
  padding: 20px 40px;
}
.footerbar {
  display: flex;
}
.about-us {
  flex-basis: 25%;
}
.about-us h2 {
  color: white;
  text-transform: capitalize;
}
.about-us p {
  color: white;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 20px;
}
.related-footer {
  flex-basis: 25%;
}
.related-footer h2 {
  color: white;
  text-transform: capitalize;
  margin-left: 12px;
}
.related-content-footer {
  display: flex;
  margin: 20px 8px;
}
.related-content-footer > img {
  width: 80px;
  height: 90px;
  border-radius: 7px;
  margin: 6px 10px;
}
.footer-desc a {
  color: lightgrey;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}
.footer-desc p {
  color: lightgray;
  font-size: 13px;
  font-weight: 100;
  margin: 8px;
}
.tags {
  flex-basis: 25%;
  padding: 2px 25px;
}
.tags h2 {
  color: white;
  text-transform: capitalize;
}
.tags ul {
  list-style-type: none;
  margin-top: 20px;
  width: 200px;
}

.tags ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 18px;
  background: white;
}
.footer-news {
  margin-left: 20px;
}
.footer-news h2 {
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-news p {
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.footer-news > form > input {
  padding: 7px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  background-color: inherit;
  border-bottom: 1px solid gray;
}
.footer-news > form > button {
  outline: 0;
  background: inherit;
  color: white;
  padding: 7px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 1px solid gray;
}
